<<<<<<< HEAD
html {
  background-color: white;
}

body{
  width: 860px;
  margin: 10px auto;
  background-color: #808080;

  /* box-shadow: 2px 3px 4px lightgrey;
*/
}
.Kateryna {
  font-family: Ubuntu, sans-serif;
  margin: 0 auto;
  width: 840px;
  height: 200px;
  background-color: #EB8500;

}
.Kateryna article {
 display: flex;

}
.Kateryna .info {


}
.Kateryna .myphoto {
  float: left;

  border-color: #808080;
  padding: 20px;

}
.Kateryna li {
  display: inline-block;
  float: right;
}
.Kateryna p {
  width: 400px;

}
=======
body{
    width: 100%;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center
}
ul img{
    width: 50px;
}


.pdp {
    border: 3px solid grey;
    
}


.Mike{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
}

article {
    margin: 5%
}

>>>>>>> 1147d40ad61ec70ebc68b5e5435749b6b678dbd1
