.align-logos img{
  width: 50px;


}

.Jordan{
  align-items: center;
  display: flex;
}

article .alignLogos{
  display: flex;
  align-items: center;
  margin-left: 20px;


}

.testp{
  width: 90%;
}
